body{
    background-color: black;
}
h1{
    color: red;
    text-align: center;
    
}
img{
    align-items: center;
}
h2{
    text-align: center;
    color: aqua;
    ba
}
p{
    text-align: center;
    color: ghostwhite;
    background-color: brown;
    border-radius: 10px;
}