h1 {
    text-align: center;
    color:red;
   
}

    

p{
    text-align: center;
    font-style: italic;
    background-color: rgb(8, 0, 0);
    color:aliceblue;
   filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
    
}
h2{
    text-align: center;
    color: blue;
    
}
    body{
    
       
        background-color: black;
        
        
        
}
div{
    background-color: rgb(0, 5, 5);
}
h3{
    color: blue;
}
